@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 26 29% 20%;
    --card: 60 50% 96%;
    --card-foreground: 26 29% 20%;
    --popover: 60 50% 96%;
    --popover-foreground: 26 29% 20%;
    --primary: 45 65% 52%;
    --primary-foreground: 45 65% 10%;
    --secondary: 60 30% 88%;
    --secondary-foreground: 26 29% 20%;
    --muted: 60 30% 88%;
    --muted-foreground: 26 29% 40%;
    --accent: 26 29% 50%;
    --accent-foreground: 26 29% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 85%;
    --input: 60 30% 85%;
    --ring: 45 65% 52%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 65% 52%;
    --primary-foreground: 45 65% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .app-body {
     background-image: radial-gradient(circle at top left, hsl(var(--secondary)), hsl(var(--background)) 50%);
  }

  .dark .app-body {
    background-image: radial-gradient(circle at top left, hsl(var(--secondary)), hsl(var(--background)) 50%);
  }
}
